<!---
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<form>

<div align="center" class="container">
    <h1>
      Great Outdoor System
    </h1>
<br>
       
      
</div>
</form>
<input  align="center" type="button" value="Login" routerLink="/login" class="btn btn-primary">-->

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<form>

<div align="center">
    <h1>
      Online Test Management
    </h1>
<br>
       
      
</div>
</form>

<router-outlet></router-outlet>